
body {
    width: 80%;
    height: 100vh;
    margin: auto;
    /* border: red solid 5px; */
}
h1 {
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
}
p {
    font-size: 24px;
    color: black;
}
.calc {
    height: 40vh;
    width: 75vh;
    border: black solid 2px;
    margin: auto;
    margin-bottom: 10px;
}
form {
    margin-top: 15px;
    /* it was this combo of form with a margin and form * text-align that did it.  I removed either and it went away. */
}
form * {
    text-align: center;
}
.formInputs {
    margin: auto;
    }

input, button {
    margin: 10px;
    font-size: 12px;
    height: 25px;
    width: 30px;
    /* border: yellow dotted 5px; */
}
button {
    width: 75px;
    height: 35px;
}
.addNum {
    background-color:rgb(247, 122, 143);
    /* margin-bottom: 5px; */
    /* border: darkred dashed 3px; */
}

.subNum {
    background-color:rgb(122, 212, 247);
    /* margin-bottom: 5px; */
}

.mulNum {
    background-color:rgb(122, 247, 193);
}

