* {
    box-sizing: border-box;
    margin: 0;
    /* border: black 1px solid; */
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}
body {
    background-color: rgb(43, 122, 250);
}
.wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 200vh;
    font-family: "Ubuntu-Regular";
    background-color: white;
}

header {
    flex: .15;
    text-align: center;
    font-size: 70px;
    padding-top: 3%;
    /* background-color: rgb(249, 253, 192); */
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    font-size: 20px;
    background-color: rgb(21, 148, 21);
    /* border: 1px solid black; */
}

.bottomPics {
    flex: .30;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

@media (min-width: 700px) {
    nav {
        flex-direction: row;
    }
    a {
        width: 50%;
    }
}

.heading {
    flex: .60;
    background-image: url(cowlayingdown.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    .information {
        flex: content;
       }
       .heading2{
           flex: content;
       }
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.cheese {
    background-image: url(cheese.jpg);
}

.yogurt {
    background-image: url(yogurt.jpg);
}

.butter {
    background-image: url(butter.jpg);
}

@media (min-width: 400px) {
    .products {
        flex: .30;
    }
}

footer {
    flex: .20;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
}

.footerText {
    font-size: 150%;
    padding-top: 3.5%;
}

button {
    flex: .15;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-style: none;
}

.button1 {
    background-image: url(facebook.svg);
}

.button2 {
    background-image: url(instagramIcon.svg);
}

.button3 {
    background-image: url(twitter.png);
}
.heading2 {
    font-size: 250%;
    text-align: center;
    margin: 2%;
}
.cowName {
    font-size: 100%;
    padding-left: 5%;
}
.cows {
    flex: 1.05;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.cowPics {
    flex: .75;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.gertie {
    background-image: url(gertie.jpg);
}

.molly {
    background-image: url(molly.jpg);
}

.bessie {
    background-image: url(bessie.jpg);
}

.clarabell {
    background-image: url(clarabell.jpg);
}

.productInfo{
    font-size: 150%;
}
.milk {
    background-image: url(milk.jpg);
    flex: .55;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}