* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

@font-face {
    font-family: Julius Sans One;
    src: url(Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: Verde Moderna;
    src: url(verdemoderna.woff);
}
@font-face{
    font-family: Libre Baskerville;
    src: url(Libre_Baskerville.ttf)
}

body {
    font-family:  'Libre Baskerville', sans-serif;
    font-style: italic;
    color: #325050;
}
.topImg {
    z-index: 1;
    /* border: 2px solid green; */
    height: 135px;
    width: 100%;
    position: absolute;
    background: url(contours2x.png), url(gridlines.png), url(noise.png), url(huntington.jpg);
    background-size: 50%, 40%, auto, cover;
    background-attachment: fixed, fixed, scroll, scroll;
    background-repeat: repeat, repeat, no-repeat, no-repeat;
    background-position: 0 0, 0 -30%, 0 0, 0 50%;
}

.container {
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-areas: "hdr" "nav" "abt" "par" "req" "ftr" "art" "men";
}

.headerBox {
    z-index: 6;
    grid-area: hdr; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid tomato; */
    padding:5%;
    border-top: 4px solid rgba(19, 67, 71, 0.9);
}
header {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circlePic {
    /* border: 1px solid purple; */
    background-image: url(enso.svg);
    background-size: contain;
    width: 45px;
    height: 45px;
    margin-right: 5%;
    opacity: 0.6;
    /* margin-bottom: 3%; */
}
.zenGarden {
    /* padding-top: 3%; */
    padding-bottom: 0%;
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: white;
    /* border: 1px solid black; */
  
}

.beauty {
    position: absolute;
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding-left: 15%;
    padding-top: 9.5%;
}
.css.hdr{
    font-size: 10px;
}

nav {
    /* border: 1px solid black; */
    width: 100%;
    grid-area: nav;
    z-index: 6;
    background-color: rgba(255,255,255,0.25);
    padding: 2.5%;
    text-align: center;
}
.navLink{
    font-family: "Julius Sans One";
    color:rgba(255, 255, 255, 0.65);
    font-size: 11px;
}
.navArrow{
    font-family: "Verde Moderna";
}

.about,
.participation,
.requirements {
font-family:  "Libre Baskerville";
font-style: normal;
   line-height: 1.6;
    font-size: 8.5px;
    padding-bottom: 3.5%;
    padding-left: 9%;
    padding-right: 9%;
}

p {
    padding-bottom: 1.5%;
}

.about {
    background-color: white;
    position: relative;
    z-index: 5;
    /* border: 1px solid black; */
    padding-top: 4%;
    grid-area: abt;
}

.participation {
    /* border: 1px solid black; */
    background-image: url(bamboo.png);
    background-color: rgba(138, 188, 159, 0.5);
    background-attachment: fixed;
    line-height: 1.75;
    grid-area: par;
    /* border: 1px black solid; */
}

.requirements {
    /* border: 1px solid black; */
    grid-area: req;
}

.paraText {
    line-height: 1.6;
    font-size: 8.25px;
    padding-bottom: 1%;
}

h3 {
    font-size: 11px;
    font-family: "Julius Sans One";
    font-weight: 100;
    padding-top: 4.5%;
    padding-bottom: 1%;
}

.css {
    font-size: 7px;
    text-decoration: underline dotted;
}
.css.men{
    font-size: 8px;
}

.topLink {
    font-family: "Julius Sans One";
    color: #809b7e;
    font-size: 8px;
}

.submission {
    color: #0d8ba1;
}

.submission:hover {
    text-decoration: underline;
}

.arrow {
    font-family: "Verde Moderna";
    color: #a9b995;
    background-color: #d9e1cd;
    padding: .5%;
    border-radius: 1px;
}

footer {
    /* border: 1px solid black; */
    background: url(contours2x.png), url(gridlines.png), url(noise.png), url(koi.jpg);
    background-size: 50%, 40%, auto, cover;
    background-attachment: fixed, fixed, scroll, scroll;
    background-repeat: repeat, repeat, no-repeat, no-repeat;
    background-position: 0 0, 0 0, 0 0, 0 80%;
    grid-area: ftr;
    text-align: center;
    /* border: 2px solid green; */
    font-family: "Libre Baskerville";
}

.topFooter {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
    font-size: 14px;
}

.footParagraph {
    color: rgba(255, 255, 255, 0.4);
    line-height: 140%;
    padding-top: 9%;
    flex: 1;
    padding-bottom: 8.5%;
}

.footerLinks {
    color: rgba(255, 255, 255, 0.7);
}

.solidLine {
    font-size: 25px;
    text-align: center;
    font-family: "Verde Moderna";
    bottom: 0;
    height: 35%;
    width: 100%;
    background-color: #134347;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.character {
    color: rgba(255, 255, 255, 0.5);
}

.art {
    /* border: 1px solid black; */
    position: relative;
    /* border: 3px solid red; */
    font-style: normal;
    font-weight: 400;
    color: #607476;
    background-color: #edf4f0;
    grid-area: art;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    font-size: 9px;
}

li {
    padding-left: 15%;
    font-style: italic;
    color: #c0cac3;
}

.artLi {
    /* border: 1px solid black; */
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid .6px #d9e3dc;
}

a {
    color: #607476;
    text-decoration: none;
    font-style: normal;
}

.design {
    display: block;
    font-family: "Julius Sans One";
}

.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 7.5px;
    color: #616857;
}

.menu {
    /* border: 1px solid black; */
    background-image: url(bamboo.png);
    background-color: rgba(138, 188, 159, 0.5);
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #607476;
    grid-area: men;
}

.links {
    border-top: .5px solid #a0b9ad;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    font-size: 9px;
}

.linksLi {
    padding-top: 6%;
    padding-bottom: 6%;
    border-bottom: .5px solid #a0b9ad;
}
 @media (min-width: 600px) {
     .topImg{
         height: 155px;
     }
    .container {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: minmax(100px,auto);
        grid-template-areas: 
        "hdr hdr hdr hdr hdr hdr nav nav nav"
        "abt abt abt abt abt abt art art art"
        "par par par par par par men men men"
        "req req req req req req .   .   ."
        "ftr ftr ftr ftr ftr ftr ftr ftr ftr";
    }
.headerBox {
height: 155px;
}
.paraText{
    font-size: 10px;
}
.about,
.participation,
.requirements {
    /* padding-top: 2%; */
    padding-bottom: 3.5%;
    padding-left: 15%;
    padding-right: 9%;
}
.art {
    display: block;
    font-size: 11px;
    /* grid-template-columns: 1fr; */
    padding: 20% 30% 40% 10%;
    /* height: 400px; */
}
   li{
       padding:0;
   }
    .links {
        display: block;
        border-top: none;
        padding: 20% 30% 40% 20%;
        /* grid-template-columns: 1fr; */
        font-size: 10.5px;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "men1" "men2" "men3" "men4" "men5"; */
    }

    .menu {
        background-attachment: fixed;
    }

}