* {
    margin: 0;
    box-sizing: border-box
}

header {
    font-size: 80px;
    text-align: center;
    padding: 3% 0 9% 0;
}

.issuesWrapper {
    width: 65%;
    margin: auto;
}

.issueLiItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "LB TI TI TI TI . . . DE" ". ID ID ID ID ID ID ID ." ". VO VO . . . . . ." ". VT VT . . . . . ." ". UV DV  . . . . . . " ". CF CF CF CF . . . ."
    /* margin-left: 10%; */
}

.issueOrderedList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.issueOrderedList li {
    counter-increment: step-counter;
}

.issueOrderedList li::before {
    grid-area: LB;
    content: "#" counter(step-counter);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
}

.issueTitle {
    grid-area: TI;
    font-size: 50px;
}

.issueDelete {
    grid-area: DE;
    font-size: 16px;
}

.issueDescription {
    grid-area: ID;
    font-size: 30px;
    margin-bottom: 2%;
}

.votes {
    grid-area: VO;
    font-size: 20px;
    margin-top: 2%;
}

.voteText {
    grid-area: VT;
    font-size: 40px;
    margin: 5% 0 5% 0;
}

.upVote {
    grid-area: UV;
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.downVote {
    grid-area: DV;
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.commentForm {
    grid-area: CF;
    margin: 5% 0 5% 0;
}

.commentText {
    font-size: 26px;
}

.commentInputForm {
    display: flex;
    flex-direction: column; 
}
.nameInput{
    font-size: 18px;
    width: 35%;
    margin:2% 0 2% 0;
}
.commentInput{
    font-size: 18px;
}
.commentSubmit{
    font-size: 18px;
    width: 40%;
    align-self: center;
    margin: 3%
}